HUB_API_URL=http://localhost:5174
HUB_WORKER_SECRET=dev-secret

VITE_SUPABASE_URL=https://ynmcoeapfycijblydyuw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlubWNvZWFwZnljaWpibHlkeXV3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwNjg2NjksImV4cCI6MjA5ODY0NDY2OX0.k7KbNApxwl7yrEDUmzOhx-VS1wZ5gm6L-aXJ_a4J7CA
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_QIWQKhXRvEOQ57t-gEep-g_qsiKFs09